@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
html,
body,
.content,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  position: relative;
  width: 100vw; /* Forces the main app wrapper to be full screen width */
  min-height: 100vh;
}
